@charset "utf-8";
@font-face {
    font-family: REBUFFED;
    src: url(fonts/REBUFFED.ttf);
}
@font-face {
    font-family: KellyAnnGothic;
    src: url(fonts/KellyAnnGothic.ttf);
}
@font-face {
    font-family: buScarecrow;
    src: url(fonts/buScarecrow.ttf);
}
@font-face {
    font-family: BreatheFire;
    src: url(fonts/BreatheFire.otf);
}
/* Common Styles for all pages of Whatever Hotel Web site */

/* Note: Refer to grading sheet for details on each of these sections */

/* CSS Final Project by Scott Parker <----  YOUR NAME HERE */

/* First rule below should probably be left alone. */

header,
nav,
section,
footer,
article {
    /* leave this alone */
    display: block;
}


/* 1. Page Styles: On the "body" you must at least set color, background, margin, padding, font family & size.    
   ==============  Optionally, you can also set styles on the page wrapper div here if you like.  
	               But note that you will lose points for any of the above properties that are not set for the body  */

body {
    background: rgb(250, 250, 250) url(images/bg-misty_trees.jpg) no-repeat center bottom fixed;
    color: black;
    margin: 20px 10%;
    padding: 2px;
    font-size: 100%;
    font-family: KellyAnnGothic, serif;
}




/* 2. Header (Banner) Styles: For the top header area (which includes the h1) and should be treated as a banner area. 
   =========================  Possible properties to use here include "background", "height", "padding", "margin",     
                              and "border".  Feel free to use others instead. Use at least 2 properties.           */
header {
    
}

/* 3. Heading Styles: For h1-h3 together, set font-family and color; for each separately set font-size using em or %.   
   =================  Set other styles as needed. Goal is to make heading text stand out from other page text.   
	                  Use text-shadowing on your headings. One of your heading fonts must be an embedded Web font.  */
h1, h2, h3 {
    
}
h1 {
    
}
h2 {
    
}
h3 {
    
}

/* 4. Intro Paragraph Styles:  use at least 1 property to emphasize 1st paragraph (intro article) 
   =========================   */
#intro {
    
}

/* 5. Copyright Styles:  use at least 2 properties to de-emphasize the copyright paragraph (footer)  
   ===================  */
footer {
    color: #787878;
    text-align: center;
    margin-top: 3em;
    font-family: Arial;
    font-size: 65%;
}
footer p {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

/* 6. General Link Styles: Style the links outside the nav bar area using at least color and text-decoration  
   ======================  Write 4 separate rules to affect all 4 link states.  */


/* 7. Navigation Bar Styles: Should affect only the nav bar links. Style nav, ul and its li's as needed.           
   ========================  Style all 4 link states to make active buttons when hovering. Remove bullets from list display. 
                             Use selectors like "#eventspage #eventslink" to style the link to its own page separately      */


/* 8. General List Styles: For unordered lists outside of nav bar. Set 2 levels of bullet shapes & 2 levels of bullet images. 
   ======================  Outer bullets should stand out more than inner bullets. Use Reservations & Contact pages to test. */


/* 9. Testimonial Styles: At least 4 rules to style at least these 4 items: the surrounding testimonials article,    
   =====================  the 3 testimonial divs, the quotes, and the speakers. Goals: Uniquely style testimonial section 
	                       itself, emphasize quote, de-emphasize speaker name. Adjust vertical spacing between items.       */


/* 10. Logo Positioning Styles: Absolute Positioning of logo image using "positionme" id. Leave the existing blank div at 
   ===========================  bottom of each page in the html & style it to go toward the top of pages where you like.  
	                            Give it a height & width to match logo image, set image as background, position absolutely */


/* 11. Multi-Column Layout Styles: Use of float, position, margin, and/or padding styles to create a multi-column layout.  
   ==============================  For help with these styles, see the online "Final Project Layout Guide" handout.     
	                               For some partial credit here you can use just the layout styles from A3P5              */


/* Miscellaneous Styles: Styles that don't fit in any of the above categories but affect multiple pages can go here. 
   ====================  Use only as needed. This section is optional and does not count for any points.                 */

