/* Custom Styles For Whatever Hotel */

/* Styles in this stylesheet target items that occur only on one specific page. */

/* CSS Final Project by _______________________ <----  YOUR NAME HERE */

/* First 3 table rules below should probably be left alone, but some values can be adjusted as needed. */

table#calendar {
    width: 98%;
    /* change this table width as needed  */
    margin-left: auto;
    /* auto left and right margins centers the table since it has a width */
    margin-right: auto;
    border-collapse: collapse;
    /* leave this alone unless you want the effect of cellspacing then change to "separate" */
    border-spacing: 0px;
    /* leave this alone unless you want the effect of cellspacing then change to what you want */
}

table#calendar td,
table#calendar th {
    width: 14%;
    /*  there are 7 days a week, so 7 * 14% = 98%, so leave this alone or tweak only slightly        */
    padding: 0;
    /*  adjust as needed to get more spacing inside events table cells (the effect of "cellpadding") */
}

table#calendar td {
    height: 4.75em;
    /*  change this height for the calendar days as needed */
    vertical-align: top;
    /* keeps text vertically aligned to the top of the cell (default is center)     */
}


/* 1. Events Page Calendar Styles: Create 5 or more calendar table related rules. These should not affect other tables!    
   ==============================  5 required areas to style: table heading, weekdays, date #'s, empty days, & events.      
                                   You can style the table itself too. Consider using backgrounds on some of these areas. */

.noday {
    background: linear-gradient(135deg, #cedbe9 0%, #aac5de 17%, #6199c7 50%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%);
}



/* 2. FAQ Page Question & Answer Styles: Style questions differently from answers so questions are easier to find,    
   ====================================  question and answer pairs are grouped closer together vertically,          
                                         and as a result the whole section is more visually pleasing.               */

.answer {
    text-indent: 30px;
}




/* 3. Services Page Image Styles: Use each figures' id to float left/right & give margin on the inner side to keep text away.       
   =============================  Use images' class to give common border properties (use a border style other than "solid").   
                                  Also set common text styling for the figcaptions, perhaps including center aligning.       */

/* Miscellaneous Styles: For any other styles for a single page that does not fit the above categories.  
   ====================  Use only as needed. This section is optional and does not count for any points.    */
